.arrow_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 24px;
    padding: 0;
    cursor: pointer;
}

.arrow_icon {
    width: 16px;
    height: 16px;
    color: var(--black-500);
}

.arrow_container:hover .arrow_icon {
    color: var(--primary-500);
}
