.arrow_container {
    display: flex;
    width: 30px;
    padding: 0 var(--space-regular);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-small);
    cursor: pointer;
}

.arrow_icon {
    fill: var(--primary-500);
    width: 16px;
    height: 16px;
}

.arrow_icon:hover {
    fill: var(--primary-900);
}
