.textfield {
    font-family: var(--font-family);
    font-size: var(font-size-small);
    font-style: var(--font-style-normal);
    display: flex;
}

.input {
    padding: var(--space-small);
    border: none;
    box-shadow: var(--inner-shadow) inset;
    border-radius: 8px;
    padding-right: 40px;
    width: 100%;
}
svg {
    right: 4px;
    display: flex;
}

.send {
    background: none;
    border: none;

    left: 185px;
    top: 18px;
}

.send:hover svg path {
    fill: var(--secondary-900);
}
