.textfield {
    font-family: var(--font-family);
    font-size: var(font-size-small);
    font-style: var(--font-style-normal);
    box-shadow: var(--inner-shadow);
}

.input {
    padding: var(--space-small);
    background: var(--black-50);
}
