.textfield {
    font-family: var(--font-family);
    font-size: var(font-size-small);
    font-style: var(--font-style-normal);
}

.input {
    padding: var(--space-small);
    border: none;
    box-shadow: var(--inner-shadow) inset;
    border-radius: 8px;
}
svg {
    right: 10px;
}
