/* ------------------------------------------------------ GENERAL STYLES ------------------------------------------------------ */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 393px;
    height: 100%;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-large);
}

/* ------------------------------------------------------ VARIABLES ------------------------------------------------------ */
:root {
    /* ----- COLORS ----- */
    --primary-50: #e7efed;
    --primary-100: #b6ccc6;
    --primary-200: #92b4ab;
    --primary-300: #609184;
    --primary-400: #417c6d;
    --primary-500: #125b48;
    --primary-600: #105342;
    --primary-700: #0d4133;
    --primary-800: #0a3228;
    --primary-900: #08261e;

    --secondary-500: #aadc66;
    --secondary-100: #e5f4d0;
    --secondary-700: #799c48;
    /* -- neutral colors -- */

    --bege-500: #fdf7eb;
    --white: #ffffff;
    --black-500: #060606;
    --black-400: #383838;
    --black-300: #585858;
    --black-200: #8c8c8c;
    --black-100: #b2b2b2;
    --black-50: #e6e6e6;

    /* -- warn colors -- */

    --yellow-500: #ffbf00;
    --orange-500: #ff6600;
    --red-500: #ff2f3d;

    /* ----- TYPE ----- */
    --font-family: "Open Sans", sans-serif;

    --font-size-extra-large: 88px;
    --font-size-large: 30px;
    --font-size-extra-medium: 24px;
    --font-size-medium: 20px;
    --font-size-regular: 16px;
    --font-size-small: 12px;
    --font-size-extra-small: 10px;

    --font-style-normal: normal;
    --font-weight-bold: bold;

    --line-height-xxlarge: 100px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-small: 20px;

    /* ----- SPACING ----- */
    --space-extra-small: 4px;
    --space-small: 8px;
    --space-regular: 16px;
    --space-medium: 32px;
    --space-large: 48px;
    --space-extra-large: 140px;
}
