.tabMenu {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.activeTab {
     border: none;
    background: none;
    font-size: var(--font-size-regular);
    padding: 0; 
    margin: 0;
    color: var(--primary-500);
    font-weight: var(--font-weight-bold);
    border-bottom: 2px solid var(--primary-500);
}


.tab {
     border: none;
    background: none;
    font-size: var(--font-size-regular);
    padding: 0; 
    margin: 0;
    color: var(--primary-200);
    border-bottom: 2px solid var(--primary-200);
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: var(--primary-500);
  transition: left 0.3s ease, width 0.3s ease;
}
