.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 393px;
    padding: 0 var(--space-regular);
    margin: 0;
}

.right {
    display: flex;
    align-items: center;
    gap: var(--space-extra-small);
}

.icon {
    fill: var(--black-500);
}
