.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-regular);
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    margin-bottom: var(--space-regular);
}
.username {
    color: var(--black-500);
    font-family: var(--fonte-family);
    font-size: var(--font-size-extra-medium);
    line-height: var(--line-height-small);
    font-weight: var(--font-style-normal);
    margin: 0;
    padding: 0;
}

.title {
    color: var(--black-500);
    font-family: var(--fonte-family);
    font-size: var(--font-size-extra-medium);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
    margin: 0;
    padding: 0;
}

.card_title {
    color: var(--black-500);
    font-family: var(--fonte-family);
    font-size: var(--font-size-extra-medium);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
    margin: 0;
    padding: 0;
}

.section {    display: flex;
    flex-direction: column;
    gap: var(--space-small);}
