.containerAi,
.containerUser {
    border-bottom-right-radius: var(--space-small);
    border-bottom-left-radius: var(--space-small);
    padding: var(--space-regular);
    display: flex;
    align-items: center;
    box-shadow: var(--inner-shadow) inset;
}

.containerAi {
    border-top-right-radius: var(--space-small);
    background-color: var(--black-50);
    width: 318px;
    height: 80px;
}

.textAi {
    color: var(--black-500);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}

.containerUser {
    border-top-left-radius: var(--space-small);
    background-color: var(--primary-500);
    width: 318px;
    height: 80px;
}

.textUser {
    color: var(--white);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}

.container {
    display: flex;
    flex-direction: row;
}
