.button {
    display: block;
    width: 361px;
    height: var(--space-large);
    line-height: var(--line-height-large);
    text-align: center;

    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);

    padding: 0 var(--space-regular);
    margin: 0;
    border-radius: var(--space-small);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--primary-700);
    color: var(--white);
}

.primary {
    background-color: var(--primary-500);
    color: var(--white);
}

.large {
    width: 100%;
    height: var(--space-large);
}
