.button {
    display: block;
    width: 361px;
    height: var(--space-large);
    line-height: 48px;
    text-align: center;

    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);

    padding: 0 var(--space-regular);
    margin: 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--primary-700);
    color: var(--white);
}

.primary {
    background-color: var(--primary-500);
    color: var(--white);
}

.secondary {
    background-color: var(--white);
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
}

.terciary {
    background-color: var(--primary-50);
    color: var(--primary-500);
}

.error {
    background-color: var(--primary-300);
    color: var(--white);
}

.disabled {
    pointer-events: none;
    color: var(--white);
    background-color: var(--primary-100);
}

.small {
    font-size: var(--font-size-small);
    height: 32px;
    line-height: 32px;
}

.large {
    height: 56px;
    line-height: 56px;
}
