.button {
    display: block;
    align-items: stretch;
    justify-content: center;
    width: 361px;
    height: 48px;
    line-height: var(--space-large);
    box-sizing: border-box;
    text-align: center;

    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);

    padding: 0 var(--space-regular);
    margin: 0;
    border-radius: 8px;
    border: none;

    &:hover {
        background-color: var(--primary-700);
        color: var(--white);
    }
}

.primary {
    background: var(--primary-500);
    color: var(--white);
}

.large {
    height: 48px;
    line-height: 48px;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
