.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: var(--inner-shadow) inset;
    padding: var(--space-regular);
}
.info_container {
    display: flex;
    flex-direction: column;
    padding: var(--space-regular);
}

.image {
    width: 82px;
    height: 80px;
}
.title {
    font-family: var(--font-family);
}
.description {
}
