.container {
    display: flex;
    width: 100%;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 8px;
    background: var(--Forge---Hi-Fi-White, #fff);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.25) inset;
}
