.container {
    display: flex;
    width: 100%;
    height: var(--space-large);
    justify-content: center;
    align-items: center;
    gap: var(--space-medium);
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: var(--inner-shadow) invert;
}
