.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: var(--inner-shadow) inset;
    padding: var(--space-regular);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    color: var(--black-500);
    text-align: center;
    gap: var(--space-regular);
}

.title {
    font-size: var(--font-size-extra-medium);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-medium);
    margin: 0;
}

.description {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-small);
    margin: 0;
}

.image_wrapper {
}

.image {
}
