.container {
    display: flex;
    padding: var(--space-regular);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.25) inset;
}
