.container {
    display: flex;
    padding: var(--space-regular);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: var(--inner-shadow) inset;
}

.content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.title {
    color: var(--Forge---Hi-Fi-Black-black-500, #2d2c2b);
    text-align: center;
    /* Forge - HiFi/Heading 2 HiFi 24px */
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
}

.description {
    color: var(--Forge---Hi-Fi-Black-black-500, #2d2c2b);
    text-align: center;
    /* Forge - HiFi/Body Regular HiFi 16px */
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.image_wrapper {
}

.image {
}
