.container {
    display: flex;
    padding: var(--space-regular);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: var(--inner-shadow) inset;
}

.content {
    display: flex;
    padding: var(--space-regular);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    font-family: var(--font-family);
}

.title {
    color: var(--black-500);
    text-align: center;
    font-size: var(--font-size-extra-medium);
    font-weight: var(--font-weight-bold);
    line-height: var (--line-height-medium);
}

.description {
    color: var(--Forge---Hi-Fi-Black-black-500, #2d2c2b);
    text-align: center;
    /* Forge - HiFi/Body Regular HiFi 16px */
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.image_wrapper {
}

.image {
}
