.container {
    display: flex;
    padding: var(--space-regular);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--space-small);
    background: var(--white);
    box-shadow: var(--inner-shadow) inset;
}

.content {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.title {
}

.description {
}

.image_wrapper {
}

.image {
}
