.heading_container {
    display: flex;
    align-items: center; /* centraliza verticalmente */
    gap: 8px; /* espaço entre seta e título */
}

.heading_pageTitle {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1;
    color: var(--black-500, #111);
    white-space: nowrap; /* evita quebra de linha */
}
