.heading_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 393px;
    padding: 0 var(--space-regular);
}

.heading_pageTitle {
    color: var(--black-500);
    font-size: var(--font-size-medium);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    margin: 0;
    padding: 0;
    line-height: 1;
}
