.heading_container {
    display: flex;
    align-items: center; /* seta e título alinhados verticalmente */
    gap: var(--space-regular); /* espaço entre eles */
    /* Remova width fixa e 'space-between' */
    /* width: 393px; */
    /* justify-content: space-between; */
}

.heading_pageTitle {
    white-space: nowrap; /* opcional: evita quebra do título */
}
